.year2021Container {
  padding-top: 50px;
}

.year2021 {
  width: 800px;
  height: 1000px;
  margin: auto;
  position: relative;
  // background-image: url('../../assets/images/new-year-bg.jpg');
  background-size: cover;
}

.mainLine {
  height: 750px;
  top: 25px;
  left: 398px;
  background-color: #ccc;
  border-radius: 2px;
  width: 4px;
  position: absolute;
}
