

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.markdown-navigation .title-level3 {
  font-weight: bold !important;
}

.markdown-navigation .title-level4 {
  font-weight: bold !important;
}

.markdown-navigation .title-level5 {
  font-weight: bold !important;
}

.markdown-navigation .title-level6 {
  font-weight: bold !important;
}
